<launch>
  <arg name="model" default="$(find barrett_hand_description)/robots/barrett_hand.urdf.xacro"/>
  <arg name="gui" default="False" />
  <param name="/barrett_hand/robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <node ns="/barrett_hand" name="barrett_hand_hardware_interface" pkg="barrett_hand_hardware_interface" type="barrett_hand_hardware_interface_node" respawn="false" output="screen"/>

  <!-- Given the published joint states, publish tf for the robot links -->
  <node ns="/barrett_hand" name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
