<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="barrett_hand">

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find barrett_hand_description)/urdf/barrett_hand.gazebo" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find barrett_hand_description)/urdf/materials.xacro" />

  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/barrett_hand</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_joint_trajectory" filename="libgazebo_ros_joint_pose_trajectory.so">
      <robotNamespace>/barrett_hand</robotNamespace>
      <alwaysOn>true</alwaysOn>
      <updateRate>100.0</updateRate>
    </plugin>
  </gazebo>



  <!-- Used for fixing robot to Gazebo 'base_link' -->
  <link name="world"/>

  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="barrett_base_link"/>
  </joint>

  <!-- LINKS   -->  
  <xacro:include filename="$(find barrett_hand_description)/urdf/barrett_hand.xacro" />

</robot>

